<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="test">
<!-- <groups >
<run>
<include name="ss"/>
</run>
</groups> -->
<test name="openbrowswers">

<parameter name="Input" value="hello"></parameter>

<classes>
<class name="testNGpractice.Parametrization">
</class>
</classes>
</test>
</suite>